apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: clusterkeycloakinstances.rustcloak.k8s.eboland.de
spec:
  group: rustcloak.k8s.eboland.de
  names:
    categories:
      - keycloak
      - all
    kind: ClusterKeycloakInstance
    plural: clusterkeycloakinstances
    shortNames:
      - ckci
    singular: clusterkeycloakinstance
  scope: Cluster
  versions:
    - additionalPrinterColumns:
        - description: The base URL of the Keycloak instance
          jsonPath: .spec.baseUrl
          name: Base URL
          type: string
        - description: true if the realm is ready
          jsonPath: .status.ready
          name: Ready
          type: boolean
        - description: Status String of the resource
          jsonPath: .status.status
          name: Status
          type: string
        - description: time since the realm was created
          jsonPath: .metadata.creationTimestamp
          name: Age
          type: date
      name: v1beta1
      schema:
        openAPIV3Schema:
          description: This resource makes a Keycloak instance known to the operator
          properties:
            spec:
              properties:
                baseUrl:
                  description: "Base URL of the Keycloak server (e.g., \"https://keycloak.example.com\")."
                  type: string
                client:
                  description: >-
                    Optional client credentials for service account authentication instead of
                    username/password.
                  nullable: true
                  properties:
                    id:
                      description: Client ID for service account authentication.
                      type: string
                    secret:
                      description: >-
                        Client secret for service account authentication. Optional if the client is
                        public.
                      nullable: true
                      type: string
                  required:
                    - id
                  type: object
                credentials:
                  description: Reference to the Kubernetes Secret containing admin credentials.
                  properties:
                    create:
                      description: "If true, the operator will create the secret with a randomly generated password if it doesn't exist."
                      nullable: true
                      type: boolean
                    passwordKey:
                      description: Key in the secret containing the password. Defaults to "password".
                      nullable: true
                      type: string
                    secretName:
                      description: Name of the Kubernetes Secret containing the credentials.
                      type: string
                    usernameKey:
                      description: Key in the secret containing the username. Defaults to "user".
                      nullable: true
                      type: string
                  required:
                    - secretName
                  type: object
                realm:
                  description: Realm used for authentication. Defaults to "master".
                  nullable: true
                  type: string
                token:
                  description: Optional configuration for caching the authentication token in a Secret.
                  nullable: true
                  properties:
                    expiresKey:
                      description: >-
                        Key in the secret for storing the token expiration timestamp. Defaults to
                        "expires".
                      nullable: true
                      type: string
                    secretName:
                      description: "Name of the Kubernetes Secret for caching the authentication token. If not specified, defaults to \"{instance-name}-api-token\"."
                      nullable: true
                      type: string
                    tokenKey:
                      description: Key in the secret for storing the token. Defaults to "token".
                      nullable: true
                      type: string
                  type: object
              required:
                - baseUrl
                - credentials
              type: object
            status:
              nullable: true
              properties:
                apiObjectRef:
                  description: Reference to the API object name (KeycloakApiObject or ClusterKeycloakApiObject)
                  nullable: true
                  type: string
                conditions:
                  items:
                    properties:
                      lastTransitionTime:
                        description: >-
                          Time is a wrapper around time.Time which supports correct marshaling to YAML and
                          JSON.  Wrappers are provided for many of the factory methods that the time
                          package offers.
                        format: date-time
                        nullable: true
                        type: string
                      message:
                        nullable: true
                        type: string
                      reason:
                        nullable: true
                        type: string
                      status:
                        type: string
                      type:
                        type: string
                    required:
                      - status
                      - type
                    type: object
                  type: array
                instance:
                  anyOf:
                    - required:
                        - instanceRef
                    - required:
                        - clusterInstanceRef
                  properties:
                    clusterInstanceRef:
                      description: The name of the cluster instance to which this object belongs to.
                      type: string
                      x-kubernetes-validations:
                        - message: Value is immutable
                          rule: self == oldSelf
                    instanceRef:
                      description: The name of the namespaced instance to which this object belongs to.
                      type: string
                      x-kubernetes-validations:
                        - message: Value is immutable
                          rule: self == oldSelf
                  type: object
                message:
                  type: string
                ready:
                  type: boolean
                realm:
                  anyOf:
                    - required:
                        - realmRef
                    - required:
                        - clusterRealmRef
                  description: Optional for backwards compatibility
                  nullable: true
                  properties:
                    clusterRealmRef:
                      description: The name of the cluster realm to which this object belongs to
                      type: string
                      x-kubernetes-validations:
                        - message: Value is immutable
                          rule: self == oldSelf
                    realmRef:
                      description: The name of the realm to which this object belongs to
                      type: string
                      x-kubernetes-validations:
                        - message: Value is immutable
                          rule: self == oldSelf
                  type: object
                resourcePath:
                  type: string
                status:
                  type: string
              required:
                - ready
              type: object
          required:
            - spec
          title: ClusterKeycloakInstance
          type: object
      served: true
      storage: true
      subresources:
        status: {}
