name: Check
on: "push"

env:
  RUSTFLAGS: "-Dwarnings"

jobs:
  check:
    runs-on: 'ubuntu-latest'
    steps:

    # Prepare the code
    - uses: actions/checkout@v4
    - uses: dtolnay/rust-toolchain@stable
    - uses: Swatinem/rust-cache@v2
      with:
        cache-on-failure: "true"

    # Prepare services
    - uses: helm/kind-action@v1
    - uses: progi1984/setup-keycloak@master
      with:
        keycloak_admin_user: admin
        keycloak_admin_pass: password
    - name: wait for Keycloak
      run: |
        for i in `seq 1 30`; do
          curl -sfI http://localhost:8080 > /dev/null && break
          echo "Waiting for Keycloak..."
          sleep 5
        done
    - uses: actions/checkout@v4

    # Prepare kubernetes cluster
    - name: Install CRDs and boot the operator
      run: |
        cargo run --bin crdgen | kubectl apply -f -
        #cargo run --bin=rustcloak

    - run: |
        cargo test --all-targets --all-features

  clippy:
    runs-on: 'ubuntu-latest'
    steps:
    - uses: actions/checkout@v4
    - uses: dtolnay/rust-toolchain@stable
    - uses: Swatinem/rust-cache@v2
      with:
        cache-on-failure: "true"
    - uses: actions/checkout@v4
    - run: |
        cargo clippy --all-targets --all-features

  check_gen:
    runs-on: 'ubuntu-latest'
    steps:
    - uses: actions/checkout@v4
    - uses: dtolnay/rust-toolchain@stable
    - uses: Swatinem/rust-cache@v2
      with:
        cache-on-failure: "true"
    - run: |
        cargo run --bin=crdgen -- --update
        go run github.com/norwoodj/helm-docs/cmd/helm-docs@latest --chart-search-root charts
        git add .
        git diff --staged --exit-code
